Hardware/KeyDecode/KeyScan/KeyScan_nativelink_simulation.rpt
Hardware/KeyDecode/KeyScan/KeyScan.qws
Hardware/KeyDecode/KeyScan/PENC_tb.vhd.bak
Hardware/KeyDecode/KeyScan/db/
Hardware/KeyDecode/KeyScan/output_files/
Hardware/KeyDecode/KeyScan/simulation/
Hardware/KeyDecode/KeyControl/output_files
Hardware/KeyDecode/KeyControl/db